@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor Accessor
@{
    string userId = null;
    try
    {
        userId = Accessor.HttpContext.Session.GetString("UserId");
    }
    catch (Exception e)
    {
        userId = null;
    }
}
<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="~/css/_Layout.css" />
</head>
<body>
<div class="navbar">
    @{
        if (userId is null)
        {
            <a class="navbar-item" href="/">Home</a>
            <a class="navbar-item" href="/login">Login</a>
            <a class="navbar-item" href="/register">Register</a>         
        }
        else
        {
            <a class="navbar-item" href="/">Home</a>
            <a class="navbar-item" href="/profile">Profile</a>
            <a class="navbar-item" href="/profile/logout">Log out</a>
        }
    }
    
</div>
<div class="container">
    @RenderBody()
</div>
</body>
</html>