.update-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.update-password-form-container {
    width: 50vw;
    text-align: center;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.update-password-form-container label {
    text-align: start;
    margin-top: 5%;
    width: 100%;
    display: block;
    font-size: large;
}

.update-password-form-container input {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid grey;
    margin-top: 2.5%;
}

.update-password-form-container button {
    width: 25vw;
    background: dodgerblue;
    color: white;
    padding: 1.5%;
    border: none;
    margin-top: 2.5%;
    margin-bottom: 5%;
    font-size: large;
}